VITE_SUPABASE_URL="https://xdkotswhqmelovhbiwwg.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhka290c3docW1lbG92aGJpd3dnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyOTAxMzYsImV4cCI6MjEwMTg2NjEzNn0.hzPTkbUMQ-WEGHWoTNBdcXbHaAYHZgUPZpr7Uj3qNbk"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_GVdvUBuy5V0jouLyHGyNsg_VETILQ37"
